<html>

	<head>
    <!-- CSS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />		
    <!-- JS -->
    <script type="text/javascript" src="/js/style.js"></script>
  </head>
	<body>
    <!-- Sidebar/menu -->
    
    <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
      id="mySidebar"><br>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close
        Menu</a>
      <div class="w3-container">
        <h3 class="w3-padding-64"><b>Fake News<br>Database</b></h3>
      </div>
      <div class="w3-bar-block">
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <a href="/fakenews/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Insert fake news</a>
        <a href="/fakenews/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show fake news</a>
        <a href="/file/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Insert file</a>
        <a href="/file/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show files</a>
        <a href="/user/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Insert user</a>
        <a href="/user/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show users</a>
        <a href="/penalty/insert" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Insert penalties</a>
        <a href="/penalty/list" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Show penalties</a>
      </div>
    </nav>

    <div class="w3-main" style="margin-left:340px;margin-right:40px">

      <form class="fileupload" action="upload/file" method="post" enctype="multipart/form-data">

           <h2 class="w3-jumbo">Choose fake news</h2>
          
           <% for(var i = 0; i < data.rows.length; i++) {%>
            
            <h3><%=data.rows[i].fake_news_title%></h3><input type="radio" name = "fake_news_id" value="<%=data.rows[i].fake_news_id%>"><br><br>

          <%}%>


          <h2 class="w3-jumbo">Upload File Here</h2>

        <input type="file" name="upfile"/>
        
        <!-- submit button  -->
        <input type="submit"/>
      
      </form>

      <h1><a href="/file/list">Files List</a></h1>
    </div>
</html>