<html>

	<head>
		<link rel="stylesheet" type="text/css" href="teste.css" />
		
	</head>
	<body>

		<form class="fileupload" action="upload/file" method="post" enctype="multipart/form-data">
		
		    <h1>Upload File Here</h1>

			<input type="file" name="upfile"/>
			
			<!-- submit button  -->
			<input type="submit"/>
		
		</form>

		<h1><a href="/file/list">Files List</a></h1>
</html>