<html>
	<body>
		<h1>Fake News Database</h1><br>
		<h1><a href="fake-news-insert">Create fake news (only file)</a></h1>
		<h1><a href="fake-news-list">Show fake news (only file)</a></h1>
		<h1><a href="user-insert">Create user</a></h1>
		<h1><a href="users-list">Show users</a></h1>
	</body>
</html>