<html>
	<head>
    </head>
	<body>
		<h1>Fake News Database</h1><br>
		<h1><a href="fakenews/insert">Create fake news (only file)</a></h1>
		<h1><a href="fakenews/list">Show fake news (only file)</a></h1>
		<h1><a href="user/insert">Create user</a></h1>
		<h1><a href="user/list">Show users</a></h1>
	</body>
</html>