<html>
	<head>
	</head>
	<body>
		<h1>Adicionar Usuário</h1><br>
		<h1><%= err %></h1>
		<form action = "upload/user" method="POST">
			<label>Nome de usuário: </label>
			<input type="text" id = "usuario_name%" name = "usuario_name" placeholder="Username"/><br/>	
			<input type="submit" value="Enviar">
		</form>
		<h1><a href="/user/list">Users list</a></h1>
	</body>
</html>