<html>
	<body>
		<form class="fileupload" action="upload/file" method="post" enctype="multipart/form-data">

			<h1>Fake news</h1>

			<!-- fake news title -->
			<h3> Title : </h3><input type="text" name="fake_news_title"><br>

			<!-- fake news content -->
			<h3> Content : </h3><input type="text" name="fake_news_content"><br>
			
			<!-- company that published fake news -->
			<h3> Company Name : </h3><input type="text" name="company_name"><br><br>
				
			<!-- gorvenment power -->
			<h3> Gorvenment Power : </h3><input type="text" name="gorvenment_power_name" ><br><br>

			<!-- gorvenment power -->
			<h3> Gorvenment Power : </h3><input type="text" name="gorvenment_power_name" ><br><br>
			
			<!-- parties envolved -->
			<h3> Parties envolved : </h3><input type="text" name="?" ><br><br>
			
			<!-- gorvenment power -->
			<h3> Intention : </h3><input type="checkbox" name="fake_news_intention" ><br><br>
		
		    <h1>Upload File Here</h1>

			<input type="file" name="upfile"/>
			
			<!-- submit button  -->
			<input type="submit"/>
		
		</form>

		<h1><a href="/fakenews/list">Files List</a></h1>
</html>